.DS_Store
biologie/eichgerade/.Rapp.history
biologie/grundumsatz/.Rapp.history
biologie/rna-rechner/.Rapp.history
biologie/rna-rechner/.RData
biologie/rna-rechner/.Rhistory
biologie/prüfungsevaluation/app.R
biologie/imposter/app_imposter.R
biologie/qr/app.R
biologie/montagsmaler/app.R

.Rhistory
.RData
.Rapp.history
depr.
code/mailto/priv
README.html
biologie/imposter/app_imposter.R
biologie/imposter/app_imposter.R
